#name {
    font-size: 1.3em;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#hmDiv,
#rpgDiv,
#triviaDiv,
#rutDiv,
#rockDiv,
#soonDiv {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 230px 175px;
    min-height: 175px;
    min-width: 230px;
    margin-left: 5%;
}

#hmDiv {
    background-image: url("../../assets/images/hangman.jpg");
}

#rpgDiv {
    background-image: url("../../assets/images/rpg.jpg");
}

#triviaDiv {
    background-image: url("../../assets/images/trivia.jpg");
}

#rutDiv {
    background-image: url("../../assets/images/phones.png");
}

#rockDiv {
    background-image: url("../../assets/images/rpc.jpg");
}

#soonDiv {
    background-image: url("../../assets/images/coming_soon.jpg");
    border-bottom: 1px solid #DCDCDC;
}

.sectionDivs {
    font-size: 18px;
    position: absolute;
    top: 90%;
    transform: translateY(-90%);
    overflow: hidden;
}

nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

article {
    margin-bottom: 40px;
}

h1 {
    font-size: 25px;
    border-bottom: 1px solid #dddddd;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h2 {
    font-size: 20px;
    border-bottom: 1px solid #dddddd;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

p {
    line-height: 25px;
}

#smediaImg {
    height: 40px;
    width: 40px;
}

footer {
    border-top: 10px solid #5bc0de;
}

#mainBGcontainer {
    background-image: url("../../assets/images/bg.png");
    background-repeat: repeat;
}

#contMid {
    margin-left: 2%;
    margin-bottom: 5%;
    margin-right: 0;
}

@media(max-width:1200px) {
    #smediaImg {
        /*height: 30px;
        width: 30px;*/
    }
    h2 {
        font-size: 19px;
    }
    #hmDiv,
    #rpgDiv,
    #triviaDiv,
    #rutDiv,
    #rockDiv,
    #soonDiv {
        margin-top: 20px;
    }
    #portSection {
        width: 350px;
        margin-left: 0;
    }
    aside {
        width: 200px;
        position: absolute;
        right: 25px;
    }
    #contMid {
        margin-right: 30px;
    }
    #cntArt {
        margin-right: 10px;
    }
}

@media(max-width:992px) {
    ul {
        font-size: .9em;
    }
    #smediaImg {
        height: 40px;
        width: 40px;
    }
    aside {
        position: relative;
        margin-left: 40%;
        margin-bottom: 10%;
        min-width: 350px !important;
        text-align: center;
    }
    #contMid {
        margin-right: 7%;
        margin-bottom: 0;
    }
    #cntArt {
        width: 350px;
    }
    #contMid {
        width: 100%;
    }
}

@media(max-width:768px) {
    aside {
        margin-left: 8%;
        margin-bottom: 10%;
        min-width: 440px !important;
        text-align: center;
        width: 93%;
    }
    #contMid {
        margin-right: 5%;
    }
    nav {
        position: static;
        overflow: auto;
        padding-top: 30px;
        padding-left: 20%;
    }
    #colSix {
        height: 30px;
    }
    .sectionDivs {
        width: 230px;
        left: 25%;
    }
    #heading {
        text-align: center;
    }
    #mainBGconatiner,
    #portSection {
        min-width: 470px;
    }
    #cntArt {
        width: 100%;
    }
    #cntHeading {
        text-align: center;
    }
}