#hmDiv {
    background-image: url("../../assets/images/hangman.jpg");    
}
#rpgDiv {
    background-image: url("../../assets/images/rpg.jpg");
}
#triviaDiv {
    background-image: url("../../assets/images/trivia.jpg");
}
#rutDiv {
    background-image: url("../../assets/images/phones.png");
}
#rockDiv {
    background-image: url("../../assets/images/rpc.jpg");
}
#soonDiv {
    background-image: url("../../assets/images/coming_soon.jpg");
    border-bottom: 1px solid #DCDCDC;
}
.imgChng{    
	background-size: 200px 200px;
	height: 200px;
    width: 200px;	
    max-width: 100%;	   		
}
.cntrVert{
    position: absolute;
    top: 90%;
    transform: translateY(-90%);
}
#name {
    font-size: 1.3em;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
h1 {
    font-size: 25px;   
    font-family: 'Georgia', Times, Times New Roman, serif;
}
h2 {
    font-size: 20px;    
    font-family: 'Georgia', Times, Times New Roman, serif;
}
#mainBGcontainer {
    background-image: url("../../assets/images/bg.png");
    background-repeat: repeat;
}
footer {
    border-top: 10px solid #5bc0de;
}
